@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parisienne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth
  }

  .font-arabic {
    font-family: 'Scheherazade New', serif;
  }

  .font-cursive {
    font-family: 'Parisienne', cursive;
  }
}